In [2]:
import pandas as pd

In [23]:
# insert data directly
# 

from io import StringIO

# cretare a  variable that look like a CSV
data = StringIO("""
Date_Expeted,Date_Real
2020-1-10,2020-1-10
2020-1-10,2020-1-19
2020-1-29,2020-1-20
2020-2-10,2020-3-11
2020-3-30,2020-3-22
""")

df = pd.read_csv(data)

## Alternative
#
# read data from CSV
# df = pd.read_csv('file.csv', header=None)

df.head(5)

  Date_Expeted  Date_Real
0    2020-1-10  2020-1-10
1    2020-1-10  2020-1-19
2    2020-1-29  2020-1-20
3    2020-2-10  2020-3-11
4    2020-3-30  2020-3-22

In [19]:
df[0] == df[1]

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [20]:
df[df[0] == df[1]]

           0          1
0  2020-1-10  2020-1-10

In [21]:
df[0] > df[1]

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [22]:
df[df[0] > df[1]]

           0          1
2  2020-1-29  2020-1-20
4  2020-3-30  2020-3-22